<!DOCTYPE html>
<html>
<head>
    <title>Directors</title>
    <style>
        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <h1>Directors</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Nation</th>
                <th>Platform ID</th>
            </tr>
        </thead>
        <tbody>
            {% for director in directors %}
            <tr>
                <td>{{ director[0] }}</td>
                <td>{{ director[1] }}</td>
                <td>{{ director[2] }}</td>
                <td>{{ director[3] }}</td>
                <td>{{ director[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="logout-button" href="{{ url_for('login.logout') }}"><button>Logout</button></a>
</body>
</html>
