<!DOCTYPE html>
<html>
<head>
    <title>Theatres</title>
</head>
<body>
    <h1>Theatres</h1>
    {% if message %}
    <p>{{ message }}</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Theatre ID</th>
                <th>Theatre Capacity</th>
                <th>Theatre Name</th>
                <th>Theatre District</th>
            </tr>
        </thead>
        <tbody>
            {% for theatre in theatres %}
            <tr>
                <td>{{ theatre[0] }}</td>
                <td>{{ theatre[1] }}</td>
                <td>{{ theatre[2] }}</td>
                <td>{{ theatre[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>
